{% extends 'apps_base.html' %}

{% block title %}Companies{% endblock %}

{% block apps_base_title %}Information of companies you created or joined in{% endblock %}

{% block apps_base_content %}
    <h2>Workplaces</h2>
    <a href="{% url 'join_company' %}">Join in a company</a>
    <table class="table table-striped table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center">Company Name</th>
            <th class="text-center">UUID</th>
        </tr>
        </thead>
        {% for workplace in workplaces %}
            <tr>
                <td>{{ workplace.name }}</td>
                <td>{{ workplace.unique_id }}</td>
            </tr>
        {% endfor %}
    </table>
    <h2>Owned Companies</h2>
    <a href="{% url 'create_company' %}">Create a company</a>
    <table class="table table-striped table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center">Company Name</th>
            <th class="text-center">UUID</th>
            <th class="text-center">Operation</th>
        </tr>
        </thead>
        {% for company in owned_companies %}
            <tr>
                <td>{{ company.name }}</td>
                <td>{{ company.unique_id }}</td>
                <td>
                    <form action="{% url 'delete_company' %}" method="POST" style="margin: 0;">
                        {% csrf_token %}
                        <input type="hidden" name="unique_id" value="{{ company.unique_id }}"/>
                        <button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}