{% extends 'apps_base.html' %}

{% block title %}Create a new company{% endblock %}

{% block apps_base_title %}Create a new company{% endblock %}

{% block apps_base_content %}
    <p class="text-muted">Create company with necessary data:</p>
    <form class="form-block" action="{% url 'create_company' %}" method="post">
        {% csrf_token %}
        <div class="form-group text-left">
            <label for="create-company-name">Company Name:</label>
            <input id="create-company-name" class="form-control" type="text" name="company_name" maxlength="80" required/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
{% endblock %}