{% extends 'apps_base.html' %}

{% block title %}Companies{% endblock %}

{% block apps_base_stylesheets %}
    <style>
        .company-name {
            max-width: 100px;
            -ms-word-wrap: break-word;
            word-wrap: break-word;
        }
    </style>
{% endblock %}

{% block apps_base_title %}Details of {{ company.name }}{% endblock %}

{% block apps_base_content %}
    <table class="table table-striped text-center">
        <thead class="thead-inverse">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">UUID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td class="company-name">
                {{ company.name }}
            </td>
            <td>{{ company.unique_id }}</td>
        </tr>
        </tbody>
    </table>
    {% if is_owner %}
        <div class="text-center">
            <form action="{% url 'delete_company' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="unique_id" value="{{ company.unique_id }}"/>
                <button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button>
            </form>
        </div>
    {% endif %}
{% endblock %}