{% extends 'apps_base.html' %}

{% block title %}Details of Company{% endblock %}

{% block apps_base_title %}Details of Company{% endblock %}

{% block apps_base_content %}
    <table class="table table-striped text-center table-responsive">
        <thead class="thead-inverse">
        <tr>
            <th class="text-center">Name</th>
            <th class="text-center">Owner</th>
            <th class="text-center">Number of Staff</th>
            <th class="text-center">UUID</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ company.name }}</td>
            <td>{{ company.owner.full_name }}</td>
            <td>{{ staff_number }}</td>
            <td>{{ company.unique_id }}</td>
        </tr>
        </tbody>
    </table>

    <div class="text-center">
        {% if is_owner %}
            <a href="{% url 'manage_staff' company_uuid=company.unique_id %}"  class="btn btn-info"
               role="button">Manage</a>
            <a href="{% url 'update_company' company_uuid=company.unique_id %}" class="btn btn-primary"
               role="button">Update</a>
        {% endif %}
        <!-- Delete Modal Trigger Button -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-or-quit-confirmation">
            {% if is_owner %}
                DELETE
            {% else %}
                QUIT
            {% endif %}
        </button>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete-or-quit-confirmation" tabindex="-1" role="dialog"
         aria-labelledby="delete-or-quit-confirmation-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% if is_owner %}
                        Delete this company?
                    {% else %}
                        Quit this company?
                    {% endif %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="text-center">
                        {% if is_owner %}
                            <div class="text-center">
                                <form action="{% url 'delete_company' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="unique_id" value="{{ company.unique_id }}"/>
                                    <button class="btn btn-danger" data-toggle="confirmation" type="submit">Confirm
                                    </button>
                                </form>
                            </div>
                        {% else %}
                            <div class="text-center">
                                <form action="{% url 'quit_company' %}" method="post">
                                    {% csrf_token %}
                                    <input type="hidden" name="unique_id" value="{{ company.unique_id }}"/>
                                    <button class="btn btn-danger" data-toggle="confirmation" type="submit">Confirm
                                    </button>
                                </form>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}