{% extends 'apps_base.html' %}

{% block title %}Join in a company{% endblock %}

{% block apps_base_title %}Join in a company{% endblock %}

{% block apps_base_content %}
    <p class="text-muted">Input UUID of the company you are going to join in:</p>
    <form class="form-block" action="{% url 'join_company' %}" method="post">
        {% csrf_token %}
        <div class="form-group text-left">
            <label for="unique-id">UUID:</label>
            <input id="unique-id" class="form-control" type="text" name="unique_id" maxlength="36" required/>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Join</button>
    </form>
{% endblock %}