/* Load Fonts */
@font-face {
    font-family: "RobotoSlab";
    src: url('../fonts/RobotoSlab.ttf') format("truetype");
}

@font-face {
  font-family: "Dosis";
  src: url('../fonts/Dosis.ttf') format("truetype");
}

@font-face {
  font-family: "Raleway";
  src: url('../fonts/Raleway.ttf') format("truetype");
}

/* Navigation Bar */
.navbar-brand {
    font-family: RobotoSlab, sans-serif;
}

.nav-item {
    font-family: Dosis, sans-serif;
}

@media only screen and (max-width: 500px) {
    .navbar-brand {
        font-size: 1.2em;
    }

    .navbar-toggler-icon {
        max-width: 0.7em;
    }
}

@media only screen and (max-width: 465px) {
    .navbar-brand {
        font-size: 1.1em;
    }

    .navbar-toggler-icon {
        max-width: 0.6em;
    }
}

@media only screen and (max-width: 432px) {
    .navbar-brand {
        font-size: 1em;
    }

    .nav-link {
        font-size: 0.7em;
    }
}

@media only screen and (max-width: 402px) {
    .navbar-brand {
        font-size: 0.8em;
    }

    .nav-link {
        font-size: 0.7em;
    }

    .navbar-toggler-icon {
        max-width: 0.5em;
    }

    .footer {
        font-size: 0.8em;
    }
}

/* Main Content */
.main-content {
    font-family: Raleway, sans-serif;
}

/* Buttons */
.btn {
    border-radius: 8px;
    cursor: pointer;
}

@media only screen and (max-width: 322px) {
    .btn {
        font-size: 1em;
    }
}

/* For Margin */
.margin-bottom-2 {
    margin-bottom: 2em;
}

/* Footer */
.footer {
    font-family: Dosis, sans-serif;
}

@media only screen and (max-width: 402px) {
    .footer {
        font-size: 0.8em;
    }
}