{% extends 'outer_base.html' %}

{% block title %}Financial Management System{% endblock %}

{% block outer_base_content %}
    <!-- Jumbotron -->
    <section class="jumbotron text-center">
        <div class="container">
            <div class="jumbotron-text">
                <h1 class="jumbotron-heading">Welcome!</h1>
                <p class="lead text-muted">Please login to manage financial affairs:</p>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger">
                    <strong>Login failed!</strong>
                    <p>Your username and password didn't match. Please try again.</p>
                </div>
            {% endif %}

            <form class="form-accounts" id="login-form" action="{% url 'login' %}" method="post">
                {% csrf_token %}
                <div class="form-group text-left">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                </div>
                <div class="form-group text-left">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
                <button class="btn btn-lg btn-primary btn-block" type="submit" value="login">Log in</button>
            </form>
        </div>
    </section>
{% endblock %}

{% block outer_base_scripts %}
    <script>
        $(window).on('load', function () {
            var inputs = document.getElementsByTagName("INPUT");
            var i;
            for (i = 0; i < inputs.length; ++i) {
                inputs[i].classList.add("form-control");
            }
        })
    </script>
{% endblock %}