{% extends 'accounts_base.html' %}

{% block title %}Logout{% endblock %}

{% block accounts_base_content %}
    <div class="container">
        <div class="alert alert-success my-5 text-center">
            <strong>Success!</strong> You have successfully logged out!
            <p>The browser will redirect in <span id="countdown"></span> seconds. Click <a
                    href="{% url 'login' %}">HERE</a> to
                redirect now.</p>
        </div>
    </div>
{% endblock %}

{% block accounts_base_scripts %}
    <script>
        // Total seconds to wait
        var seconds = 3;

        function countdown() {
            seconds = seconds - 1;
            if (seconds < 0) {
                // Chnage your redirection link here
                window.location = "{% url 'login' %}";
            } else {
                // Update remaining seconds
                document.getElementById("countdown").innerHTML = seconds;

                // Count down using javascript
                window.setTimeout("countdown()", 1000);
            }
        }

        // Run
        countdown();
    </script>
{% endblock %}