{% extends 'apps_base.html' %}

{% block title %}Tables{% endblock %}

{% block apps_base_title %}Table of {{ table.name }}{% endblock %}

{% block apps_base_content %}
    <table class="table table-bordered table-responsive-md" id="salary-details-table">
        <thead>
        <tr>
            <th class="text-center">Item</th>
            <th class="text-center">Income / expenditure</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
            {% for item in items %}
                <td>{{ item.name }}</td>
                <td>{{ item.money_change }}</td>
            {% endfor %}
        </tr>
        </tbody>
    </table>
        {#    <div>#}
        {#        <button class="btn btn-default button_size1" id="download" a href="">Download</button>#}
        {#        <button class="btn btn-default button_size1" id="fresh" onclick="location='upload'">Update</button>#}
        {#        &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp#}
        {#        <button class="btn btn-danger button_size2" id="delete">Delete</button>#}
        {#        <button class="btn btn-primary button_size2 save-print-img" id="print" data-href="">Print</button>#}
        {#    </div>#}
{% endblock %}