{% extends 'apps_base.html' %}

{% block title %}Details of Table{% endblock %}

{% block apps_base_title %}Details of Table{% endblock %}

{% block apps_base_content %}
    <!--startprint-->
    <div class="table-title">
        <header>Table Information</header>
        <a href="" onclick="exportTableToExcel('table-details-table')" id="export">Export</a>
    </div>
    <table class="table table-bordered table-striped table-responsive-md" id="table-details-table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr>
            <td>{{ table.name }}</td>
            <td>{{ table.date }}</td>
        </tr>
        </tbody>
    </table>
    <div class="table-title">
        <header>Items Information</header>
        <a href="" onclick="exportTableToExcel('items-details-table')" id="export">Export</a>
    </div>
    <p class="text-center hidden"></p>
    <table class="table table-bordered table-striped table-responsive-md" id="items-details-table">
        <thead>
        <tr>
            <th>Item</th>
            <th>Income / expenditure</th>
        </tr>
        </thead>
        <tbody class="text-center">
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.money_change }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <!--endprint-->

    <!-- Delete Modal Trigger -->
    <div class="text-center">
        <button type="button" class="btn btn-default" onclick="doPrint()">Print</button>
        <a href="{% url 'update_table' table_id=table.id %}" class="btn btn-primary"
           role="button">Update</a>
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirmation">DELETE
        </button>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog"
         aria-labelledby="delete-confirmation-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Delete this table?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="text-center">
                        <form action="{% url 'delete_table' %}" class="text-center d-inline-block" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="workplace_uuid" value="{{ table.company.unique_id }}"/>
                            <input type="hidden" name="table_id" value="{{ table.id }}"/>
                            <button class="btn btn-danger" data-toggle="confirmation" type="submit">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block apps_base_scripts %}
    <script language="javascript" script.src="jquery.js">
        function doPrint() {

            var bdhtml = window.document.body.innerHTML;
            var start = "<!--startprint-->";
            var end = "<!--endprint-->";
            var prnhtml = bdhtml.substr(bdhtml.indexOf(start) + 17);
            var prnhtml = prnhtml.substring(0, prnhtml.indexOf(end));
            window.document.body.innerHTML = prnhtml;
            window.print();
        }
    </script>
{% endblock %}
