{% extends 'apps_base.html' %}

{% block title %}Tables{% endblock %}

{% block apps_base_title %}Tables{% endblock %}

{% block apps_base_stylesheets %}
    <style>
        .input-style{
            font-size: 15px;
            width: 70px;
        }
    </style>
{% endblock %}

{% block apps_base_content %}
    <form role="form">
        <div class="form-group input-style">
            <input type="file" id="input_excel" class="ui input" multiple="multiple" accept=".pdf, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel">
            <br><br>
            <label for="file-name">文件名</label>
            <input type="text" id="file-name" class="ui input">
            <label for="uploader">作者名</label>
            <input type="text" id="uploader" class="ui input">
        </div>
        <button type="submit" class="btn btn-danger input-style">提交</button>
    </form>
{% endblock %}