{% extends 'apps_base.html' %}

{% block title %}Create receipt{% endblock %}

{% block apps_base_stylesheets %}
    <style>
        {#        #create-receipt-btn {#}
        {#            max-width: 330px;#}
        {#            margin: 0 auto;#}
        {#        }#}
        {##}
        {#        .create-receipt-header {#}
        {#            font-family: Dosis, sans-serif;#}
        {#            font-size: 1.4em;#}
        {#            margin-bottom: 1em;#}
        {#        }#}
    </style>
{% endblock %}

{% block apps_base_title %}Create a new salary record{% endblock %}

{% block apps_base_content %}
    <form action="{% url 'create_salary' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="company-name">Select one of your company:</label>
            <select id="company-name" name="company_uuid">
                <option></option>
            </select>
        </div>
        <div class="form-group">
            <label for="payee-name">Select a staff:</label>
            <select id="payee-name" name="payee_name">
                <option></option>
            </select>
        </div>

        <div class="form-group">
            <label for="base-salary">Base Salary</label>
            <input id="base-salary" name="base_salary" class="form-control" type="number" min="0" step="0.01" required/>
        </div>
        <div class="form-group">
            <label for="base-salary">Bonus</label>
            <input id="base-salary" name="base_salary" class="form-control" type="number" min="0" step="0.01" required/>
        </div>
        <div class="form-group">
            <label for="base-salary">Total</label>
            <input id="base-salary" name="total" class="form-control" type="number" min="0" step="0.01" required/>
        </div>
        <button id="create-salary-btn" class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
    </form>
{% endblock %}

{% block apps_base_scripts %}
    <script>
        {# Make date auto set to today #}
        Date.prototype.toDateInputValue = (function () {
            var local = new Date(this);
            local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
            return local.toJSON().slice(0, 10);
        });
        $(document).ready(function () {
            $('#date').val(new Date().toDateInputValue());
        });

        {# Auto calculate total cost #}
        var a, b;
        $(document).ready(function () {
            $("#number-0").change(function () {
                a = this.value;
                if (isNaN(a)) {
                    alert("Invalid number!")
                }
                if (!isNaN(a) && !isNaN(b)) {
                    document.getElementById("total-cost-0").value = a * b;
                }
            });

            $("#price-0").change(function () {
                b = this.value;
                if (isNaN(b)) {
                    alert("Invalid price!")
                }
                if (!isNaN(a) && !isNaN(b)) {
                    document.getElementById("total-cost-0").value = a * b;
                }
            });
        });
    </script>
{% endblock %}