{% extends 'apps_base.html' %}

{% block title %}Create receipt{% endblock %}

{% block apps_base_title %}Create a new salary record{% endblock %}

{% block apps_base_content %}
    {% if company_payees %}
        <form action="{% url 'create_salary' %}" method="post" class="form-block">
            {% csrf_token %}
            <input name="company_uuid" type="hidden" value="{{ company_uuid }}" readonly required/>
            <div class="form-group">
                <label for="create-salary-payee">Select a staff in {{ company_name }}</label>
                <select id="create-salary-payee" class="custom-select form-control" name="payee_id" required>
                    <option value="">None</option>
                    {% for payee in company_payees %}
                        <option value="{{ payee.id }}">{{ payee.full_name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="create-salary-base-salary">Base Salary</label>
                <input id="create-salary-base-salary" name="base_salary" class="form-control" type="number" min="0"
                       step="0.01"
                       required/>
            </div>
            <div class="form-group">
                <label for="create-salary-bonus">Bonus</label>
                <input id="create-salary-bonus" name="bonus" class="form-control" type="number" min="0" step="0.01"
                       required/>
            </div>
            <div class="form-group">
                <label for="create-salary-total-salary">Total</label>
                <input id="create-salary-total-salary" name="total" class="form-control" type="number" readonly
                       required/>
            </div>
            <div class="form-group">
                <label for="create-salary-date">Date</label>
                <input id="create-salary-date" name="date" class="form-control auto-set-to-today" type="date" required/>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Create</button>
        </form>
    {% else %}
        <div class="alert alert-warning" role="alert">
            <strong>No staff to be paid!</strong>
            <p>All staff in your company are paid.</p>
        </div>
    {% endif %}
{% endblock %}

{% block apps_base_scripts %}
    <script>
        {# Auto calculate total cost #}
        var a, b;
        $(document).ready(function () {
            $("#create-salary-base-salary").change(function () {
                a = Number(this.value);
                document.getElementById("create-salary-total-salary").value = a + b;
            });

            $("#create-salary-bonus").change(function () {
                b = Number(this.value);
                document.getElementById("create-salary-total-salary").value = a + b;
            });
        });
    </script>
{% endblock %}