{% extends 'apps_base.html' %}

{% block title %}Salary{% endblock %}

{% block apps_base_title %}Salary{% endblock %}

{% block apps_base_stylesheets %}
{% endblock %}

{% block base_scripts %}
    <script>
        function print_doc() {

        }
    </script>
{% endblock %}

{% block apps_base_content %}
    {#    <p>This is the salary table</p>#}
    <div>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Name</th>
                <th>Base Salary</th>
                <th>Bonus</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{ salary.staff.full_name }}</td>
                <td>{{ salary.base_salary }}</td>
                <td>{{ salary.bonus }}</td>
                <td>{{ salary.total }}</td>
            </tr>
            </tbody>
        </table>

        <div role="group">
            <button class="btn btn-default disabled">Download</button>
            <button class="btn btn-default disabled">Update</button>
            <button class="btn btn-primary disabled">Print</button>
            <form action="{% url 'delete_salary' %}" class="text-center" method="post" style="display: inline-block">
                {% csrf_token %}
                <input type="hidden" name="salary_id" value="{{ salary.id }}"/>
                <button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button>
            </form>
        </div>
{% endblock %}