{% extends 'apps_base.html' %}

{% block title %}Salary{% endblock %}

{% block apps_base_title %}Manage salary records{% endblock %}

{% block apps_base_content %}
    {% if no_owned_company %}
        <div class="alert alert-warning" role="alert">
            <strong>No owned companies!</strong>
            <p>There are no companies created by you.</p>
        </div>
    {% else %}
        <div class="table-title">
            <header>Created Salary Records</header>
            <a href="{% url 'create_salary_with_params' company_uuid=company_uuid %}">Add a new salary record</a>
        </div>
        <div class="table-select-company">
            <label for="salary-owned-companies" class="text-muted">Select your company</label>
            <select class="custom-select" id="salary-owned-companies" onchange="reloadCompany()">
                {% for company in owned_companies %}
                    {% if company.unique_id == company_uuid %}
                        <option value="{{ company.unique_id }}" selected>{{ company.name }}</option>
                    {% else %}
                        <option value="{{ company.unique_id }}">{{ company.name }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        {% if no_salary_records %}
            <div class="alert alert-warning" role="alert">
                <strong>No salary records!</strong>
                <p>There are no salary records in this company, you can create one now.</p>
            </div>
        {% else %}
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Staff Name</th>
                    <th>Date</th>
                    <th>Payer</th>
                </tr>
                </thead>
                <tbody>
                {% for salary in salary_records %}
                    <tr>
                        <td><a href="{% url 'salary_details' salary_id=salary.id %}">{{ salary.payee.full_name }}</a>
                        </td>
                        <td>{{ salary.date }}</td>
                        <td>{{ salary.payer }}</td>
                    </tr>
                {% endfor %}
            </table>

            {# Pagination #}
            <ul class="pagination justify-content-center">
                {% if page_num == 1 %}
                    <li class="page-item disabled"><a class="page-link">Previous</a></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'salary_with_params' company_uuid=company_uuid page_num=page_num|add:'-1' %}">Previous</a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if i == page_num %}
                        <li class="page-item active">
                            <a class="page-link"
                               href="{% url 'salary_with_params' company_uuid=company_uuid page_num=i %}">{{ forloop.counter }}</a>
                        </li>
                    {% else %}
                        <li class="page-item">
                            <a class="page-link"
                               href="{% url 'salary_with_params' company_uuid=company_uuid page_num=i %}">{{ forloop.counter }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if page_num == page_end %}
                    <li class="page-item disabled"><a class="page-link">Next</a></li>
                {% else %}
                    <li class="page-item">
                        <a class="page-link"
                           href="{% url 'salary_with_params' company_uuid=company_uuid page_num=page_num|add:'1' %}">Next</a>
                    </li>
                {% endif %}
            </ul>
        {% endif %}
    {% endif %}
{% endblock %}

{% block apps_base_scripts %}
    <script>
        {# Reload page when another company is selected. #}
        function reloadCompany() {
            var company_uuid = $('#salary-owned-companies').find(":selected").val();
            window.location.replace("/salary/" + company_uuid + "/1/");
        }
    </script>
{% endblock %}