{% extends 'apps_base.html' %}

{% block title %}Salary{% endblock %}

{% block apps_base_title %}Salary{% endblock %}

{% block apps_base_stylesheets %}
    <style>
        .float-style1 {
            float: left;
        }
        .float-style2 {
            float: inherit;
        }
        .tr-size {
            height: 50px;
        }
        .button-size1 {
            font-size: 4px;
            height: 25px;
        }
    </style>
{% endblock %}

{% block apps_base_content %}
    <div class="float-style1">
        <p>&nbsp&nbspPlease select your company &nbsp&nbsp</p>
    </div>
    <div class="float-style1">
    <select class="selectpicker" id="select_company">
        <option>Lanxiang</option>
        <option>HIT Securities</option>
        <option>Shaxian county snacks</option>
        <option>CCTV</option>
        <option>New Oriental Cooking School</option>
        {% for item in data.select_list %}
            <option>item</option>
        {% endfor %}
    </select>
    </div>
    <br>
    <table class="table">
        <tr>
            <th width="400">Name</th>
            <th width="200">Date</th>
            <th width="200">Uploader</th>
            <th width="200">Operation</th>
        </tr>
        <tr class="tr-size">
            <td class="tr-size"><a href="{% url 'salary_details' %}">Salary table (June, 2017)</a></td>
            <td>2017.2.7</td>
            <td>Wang Bo</td>
            <td><button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button></td>
        </tr>
        <tr class="tr-size">
            <td class="tr_size"><a href="{% url 'salary_details' %}">Salary table (July, 2017)</a></td>
            <td>2017.2.7</td>
            <td>Wang Bo</td>
            <td><button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button></td>
        </tr>
        <tr class="tr-size">
            <td class="tr-size"><a href=" {% url 'salary_details' %}">Salary table (Feb, 2016)</a></td>
            <td>2017.2.7</td>
            <td>Wang Bo</td>
            <td><button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button></td>
        </tr>


        {% for item in data %}
            <tr class="tr-size">
                <td class="tr-size"><a href="{% url 'salary_details' %}">item.name</a></td>
                <td>item.date</td>
                <td>item.uploader</td>
                <td><button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button></td>
            </tr>
            <% empty %>
            <p>No tables found<p>
        {% endfor %}
    </table>
    <div class="float-style1">
        <button class="btn btn-primary" onclick="location='upload'">Upload</button>
    </div>
    <div class="float-style2">
    <center>
        <s property="page"></s>
        <button class="btn btn-default" id="previous_page" a href="">Prev</button>
        <button class="btn btn-default" id="next_page" a href="">Next</button>
    </center>
    </div>
{% endblock %}

