{% extends 'apps_base.html' %}

{% block title %}Details of receipt{% endblock %}

{% block apps_base_title %}Details of Receipt-{{ receipt.id }}{% endblock %}

{% block apps_base_content %}
    {#    <style>#}
    {#        .div-style {#}
    {#            height: 600px;#}
    {#            width: 792px;#}
    {#        }#}
    {##}
    {#        .button-size1 {#}
    {#            width: 100px;#}
    {#        }#}
    {##}
    {#        .button-size2 {#}
    {#            width: 80px;#}
    {#        }#}
    {#    </style>#}
    <table id = "table2excel0" class="table table-striped table-responsive table-bordered text-center">
        <thead>
        <tr>
            <th class="text-center">ID</th>
            <th class="text-center">Payer</th>
            <th class="text-center">Total Amount</th>
            <th class="text-center">Payee</th>
            <th class="text-center">Date</th>
            <th class="text-center">Address</th>
            <th class="text-center">Notes</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>{{ receipt.id }}</td>
            <td>{{ receipt.payer }}</td>
            <td>{{ receipt.total_amount }}</td>
            <td>{{ receipt.payee }}</td>
            <td>{{ receipt.date }}</td>
            <td>{{ receipt.address }}</td>
            <td>{{ receipt.notes }}</td>
        </tr>
        </tbody>

        <thead>
        <tr>
            <th class="text-center">Item Name</th>
            <th class="text-center">Spec</th>
            <th class="text-center">Number</th>
            <th class="text-center">Unit</th>
            <th class="text-center">Price</th>
            <th class="text-center">Total Cost</th>
        </tr>
        </thead>

        <tbody>
        {% for item in items %}
            <tr>
                <td>{{ item.name }}</td>
                <td>{{ item.spec }}</td>
                <td>{{ item.number }}</td>
                <td>{{ item.unit }}</td>
                <td>{{ item.price }}</td>
                <td>{{ item.total_cost }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{#    <table id = "table2excel1" class="table table-striped table-responsive table-bordered text-center">#}
{#        <thead>#}
{#        <tr>#}
{#            <th class="text-center">Item Name</th>#}
{#            <th class="text-center">Spec</th>#}
{#            <th class="text-center">Number</th>#}
{#            <th class="text-center">Unit</th>#}
{#            <th class="text-center">Price</th>#}
{#            <th class="text-center">Total Cost</th>#}
{#        </tr>#}
{#        </thead>#}
{#        <tbody>#}
{#        {% for item in items %}#}
{#            <tr>#}
{#                <td>{{ item.name }}</td>#}
{#                <td>{{ item.spec }}</td>#}
{#                <td>{{ item.number }}</td>#}
{#                <td>{{ item.unit }}</td>#}
{#                <td>{{ item.price }}</td>#}
{#                <td>{{ item.total_cost }}</td>#}
{#            </tr>#}
{#        {% endfor %}#}
{#        </tbody>#}
{#    </table>#}
    <form action="{% url 'delete_receipt' %}" class="text-center" method="post" style="margin: 0;">
        {% csrf_token %}
        <input type="hidden" name="receipt_id" value="{{ receipt.id }}"/>
        <button class="btn btn-danger" data-toggle="confirmation" type="submit">DELETE</button>
    </form>

    <form class="text-center"  style="margin: 0;">
        <button id = "download" class="btn btn-primary" data-toggle="confirmation">Download</button>
    </form>
    {#    <div>#}
    {#        <button class="btn btn-default button-size1" id="download" a href="">Download</button>#}
    {#        <button class="btn btn-danger button-size2" id="delete">Delete</button>#}
    {#        <button class="btn btn-primary button-size2" id="print">Print</button>#}
    {#        <button class="btn btn-primary button-size2" id="update">Update</button>#}
    {#    </div>#}
{% endblock %}

{% block apps_base_scripts %}
    <script>
        var change_flag = false;

        $(document).ready(function () {
            $(".form-control").change(function () {
                change_flag = true;
            })
        });

        $(document).ready(function () {
            $("#update").click(function () {
                if (!change_flag) {
                    alert("没有项目修改过")
                }
            })
        });
    </script>
    {% load static %}
    <script src="{% static "js/jquery.table2excel.js" %}"></script>
    <script>
        $(document).ready(function () {
             $("#download").click(function () {
                 var temp = $("#table2excel0").table2excel().init();
{#                 var temp0 = $("#table2excel1").table2excel().init();#}
{#                 alert(temp)#}
             })
        });
    </script>

{% endblock %}