{% extends 'apps_base.html' %}

{% block title %}Details of Receipt{% endblock %}

{% block apps_base_title %}Details of Receipt and Items{% endblock %}

{% block apps_base_content %}
    <!--startprint-->
    <div class="table-title">
        <header>Receipt Information</header>
        {#        <a href="" onclick="exportTableToExcel('receipt-details-table')">Export</a>#}
    </div>
    <table id="receipt-details-table" class="table table-striped table-responsive table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>Payer</th>
            <th>Total Amount</th>
            <th>Payee</th>
            <th>Date</th>
            <th>Address</th>
            <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>{{ receipt.id }}</td>
            <td>{{ receipt.payer }}</td>
            <td>{{ receipt.total_amount }}</td>
            <td>{{ receipt.payee }}</td>
            <td>{{ receipt.date }}</td>
            <td>{{ receipt.address }}</td>
            <td>{{ receipt.notes }}</td>
        </tr>
        </tbody>
    </table>
    <div class="table-title">
        <header>Items Information</header>
        {#        <a href="" onclick="exportTableToExcel('receipt-items-details-table')">Export</a>#}
    </div>
    <div style="overflow: auto">
        <table class="table table-striped table-bordered" id="receipt-items-details-table">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Spec</th>
                <th>Number</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Total Cost</th>
            </tr>
            </thead>
            <tbody>
            {% for item in items %}
                <tr>
                    <td>{{ item.name }}</td>
                    <td>{{ item.spec }}</td>
                    <td>{{ item.number }}</td>
                    <td>{{ item.unit }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.total_cost }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!--endprint-->
    <div class="text-center">
        <button type="button" class="btn btn-default" onclick="doPrint()">Print</button>
        <a href="{% url 'update_receipt' receipt_id=receipt.id %}" class="btn btn-primary"
           role="button">Update</a>
        <!-- Delete Modal Trigger Button -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-confirmation">DELETE
        </button>
    </div>
    <!-- Delete Modal -->
    <div class="modal fade" id="delete-confirmation" tabindex="-1" role="dialog"
         aria-labelledby="delete-confirmation-label"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Delete this receipt?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <div class="text-center">
                        <form action="{% url 'delete_receipt' %}" class="d-inline-block" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="workplace_uuid" value="{{ receipt.company.unique_id }}"/>
                            <input type="hidden" name="receipt_id" value="{{ receipt.id }}"/>
                            <button class="btn btn-danger" data-toggle="confirmation" type="submit">Confirm</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block apps_base_scripts %}
    <script language="javascript" script.src="jquery.js">
        function doPrint() {

            var bdhtml = window.document.body.innerHTML;
            var start = "<!--startprint-->";
            var end = "<!--endprint-->";
            var prnhtml = bdhtml.substr(bdhtml.indexOf(start) + 17);
            var prnhtml = prnhtml.substring(0, prnhtml.indexOf(end));
            prnhtml = "<h2 align=\"center\">Receipts</h2>" + prnhtml;
            window.document.body.innerHTML = prnhtml;
            window.print();
        }
    </script>
{% endblock %}