{% extends 'base.html' %}

{% block base_stylesheets %}
    <style>
        #sidemenu a {
            font-family: Dosis, sans-serif;
        }
    </style>
    {% block apps_base_stylesheets %}{% endblock %}
{% endblock %}

{% block base_content %}
    <div class="container h-100">
        <div class="row h-100">
            <aside class="col-md-2">
                <div class="mt-2 mb-3" id="sidemenu">
                    <ul class="nav flex-md-column flex-row justify-content-between">
                        <li class="nav-item">
                            <a href="{% url 'info' %}" class="nav-link pl-0 text-info">Information</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'companies' workplaces_page_num=1 owned_companies_page_num=1 %}"
                               class="nav-link pl-0 text-info">Companies</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'receipts' %}" class="nav-link pl-0 text-info">Receipts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tables' %}" class="nav-link pl-0 text-info">Tables</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tax' %}" class="nav-link pl-0 text-info">Tax</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'salary' %}" class="nav-link pl-0 text-info">Salary</a>
                        </li>
                    </ul>
                </div>
            </aside>
            <main class="col-md-10 py-3">
                <div class="row">
                    <div class="col">
                        <h2 class="mb-3 pb-2 apps-base-title">
                            {% block apps_base_title %}{% endblock %}
                        </h2>
                        {% block apps_base_content %}{% endblock %}
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block base_scripts %}
    {# Export HTML table to excel #}
    {% load static %}
    <script src="{% static 'js/xlsx.core.min.js' %}"></script>
    <script src="{% static 'js/FileSaver.min.js' %}"></script>
    <script src="{% static 'js/tableexport.min.js' %}"></script>
    <script>
        function exportTableToExcel(id) {
            var ExportButtons = document.getElementById(id);
            var instance = new TableExport(ExportButtons, {
                formats: ['xlsx'],
                exportButtons: false
            });
            var exportData = instance.getExportData()[id]['xlsx'];
            instance.export2file(exportData.data, exportData.mimeType, exportData.filename, exportData.fileExtension);
        }
    </script>
    {% block apps_base_scripts %}{% endblock %}
{% endblock %}