{% extends 'base.html' %}

{% block home_url %}{% url 'info' %}{% endblock %}

{% block base_stylesheets %}
    <style>
        #sidemenu a {
            font-family: Dosis, sans-serif;
        }

        #user-btn {
            cursor: pointer;
        }

        @media only screen and (max-width: 900px) and (min-width: 768px) {
            .navbar-brand {
                font-size: 1.1em;
            }

            .nav-link {
                font-size: 0.9em;
            }

            .navbar-toggler-icon {
                max-width: 0.7em;
            }
        }
    </style>
    {% block apps_base_stylesheets %}{% endblock %}
{% endblock %}

{#{% block user %}#}
    <div class="dropdown">
        <a class="nav-link dropdown-toggle" id="user-btn" data-toggle="dropdown" aria-haspopup="true"
           aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            {{ user.get_username }}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="{% url 'change_password' %}">Change password</a>
            <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
        </div>
    </div>
{#{% endblock %}#}

{% block base_content %}
    <div class="container h-100">
        <div class="row h-100">
            <aside class="col-md-2">
                <div class="mt-2 mb-3" id="sidemenu">
                    <ul class="nav flex-md-column flex-row justify-content-between">
                        <li class="nav-item">
                            <a href="{% url 'info' %}" class="nav-link pl-0 text-info">
                                Information
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'receipts' %}" class="nav-link pl-0 text-info">Receipts</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tables' %}" class="nav-link pl-0 text-info">Tables</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'tax' %}" class="nav-link pl-0 text-info">Tax</a>
                        </li>
                        {% ifequal user.groups.all.0.name 'Administrators' %}
                            <li class="nav-item">
                                <a href="{% url 'salary' %}" class="nav-link pl-0 text-info">Salary</a>
                            </li>
                        {% endifequal %}
                    </ul>
                </div>
            </aside>
            <main class="col py-3">
                <div class="row">
                    <div class="col">
                        <div class="tab-content py-3">
                            <div class="tab-pane active" id="tab1" role="tabpanel">
                                <h2 class="mb-3">{% block apps_base_title %}{% endblock %}</h2>
                                {% block apps_base_content %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
{% endblock %}

{% block base_scripts %}
    <script>
        $('#sidemenu').affix({
            offset: {
                top: $('#navbar').offset().top + $('#navbar').outerHeight(),
                bottom: $('footer').outerHeight() + 50
            }
        });
    </script>
    {% block apps_base_scripts %}{% endblock %}
{% endblock %}