{% extends 'apps_base.html' %}

{% block title %}Tax{% endblock %}

{% block apps_base_title %} Tax {% endblock %}

{% block apps_base_content %}
    <div class="cb">
        <div class="cleft">
            <div class="lbox" style="text-align:center;">
                <select style="width:320px; margin:20px; line-height:20px;  text-indent:10px; font-size:25px;"
                        id="taxType"
                        onchange="
                      if(document.all.taxType.value===0)
                      {
                          location = location.href;
                          return;
                      }location=document.all.taxType.value;">
                    <option value="index.html" selected="selected">工资、薪金所得（月薪）</option>
                </select><br/>
                <input id="txtIncome" name="" type="text"
                       style="width:320px; margin:20px; line-height:40px;  text-indent:10px;font-size:18px;"
                       placeholder="请输入税前收入"/><br/>
                <input type="button" style="padding:5px 30px; font-size:18px;"
                       value="计算个税" onclick="btnCalc_onClick()"/></div>

            <div class="lbox2"><h4>个税计算器计算详细计算结果</h4>
                <div id="resultCon" style="text-align:center; font-size:16px; line-height:200%;"></div>
            </div>
            <div class="lbox2"><h4>个税计算器税率表</h4>
                <div class="content">
                    <table class="tbclass">
                        <tbody>
                        <tr>
                            <th>级数</th>
                            <th>当月应纳税所得额</th>
                            <th>税率(%)</th>
                            <th>速算扣除数</th>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>不超过1,500元</td>
                            <td>3</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>2</td>
                            <td>超过1,500元至4,500元的部分</td>
                            <td>10</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <td>3</td>
                            <td>超过4,500元至9,000元的部分</td>
                            <td>20</td>
                            <td>555</td>
                        </tr>
                        <tr>
                            <td>4</td>
                            <td>超过9,000元至35,000元的部分</td>
                            <td>25</td>
                            <td>1,005</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>超过35,000元至55,000元的部分</td>
                            <td>30</td>
                            <td>2,755</td>
                        </tr>
                        <tr>
                            <td>6</td>
                            <td>超过55,000元至80,000元的部分</td>
                            <td>35</td>
                            <td>5,505</td>
                        </tr>
                        <tr>
                            <td>7</td>
                            <td>超过80,000元的部分</td>
                            <td>45</td>
                            <td>13,505</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>说明：</p>
                    <p>1、对照个税税率表时，不要以当前月工资收入所得来比照，要先计算出本月的应纳税所得额， 再用此应纳税所得额与上表比照，方能得到正确的税率和速算扣除数。</p>
                    <p>2、上表是2011年个税改革后，起征点由2000元调整至3500元后的七级超额累进个人所得税税率表，2011年9月1日起开始使用。</p></div>
            </div>
            <div class="lbox2"><h4>个税计算器案例说明</h4>
                <div class="content"><p>1、张天乐2017年1月份工资收入4800元，各项社会保险费用为600元，则张天乐这个朋应纳多少个人所得税？</p>
                    <p>那么应纳税所得额 = 工资收入金额 － 各项社会保险费 － 起征点(3500元) = 4800 － 600 － 3500 =
                        700元，应纳税所得额700元不超过1500元，适用税率表一级，对应税率为3%，速算扣除数为0元。应纳税额= 应纳税所得额 x 税率 － 速算扣除数 = 700 x 3% － 0 =
                        21元。</p></div>

            </div>

            <div class="c"></div>
        </div>
    </div>
{% endblock %}

{% block apps_base_scripts %}
    <script>
        function btnCalc_onClick() {
            $("txtIncome")
                    document.write(document.getElementById("txtIncome").value);
            if (isNaN($("txtIncome").value)) {
                alert("请输入正确的工资数");
                return;
            }
            var result = '';
            var v = parseInt($("txtIncome").value);
            var bx = 0;
            if (v < 3500) {
                result = '<p style="color:#f00;">无需交税</p>';
            } else {
                v = v * 100;
                result = '<table id="restb" style="width:100%;"><tr style="color:#999;"><td></td><td>个人缴纳</td><td>单位缴纳</td></tr>';
                if (v > 2311800) {
                    var bx1 = 2311800 * 0.08;
                    result += '<tr style="background:#f1f1f1;"><td>养老保险</td><td>' + parseFloat(bx1 / 100).toFixed(2);
                    var qy1 = 2311800 * 0.19;
                    result += '</td><td>' + parseFloat(qy1 / 100).toFixed(2);
                    result += '</td></tr>';
                    var bx2 = 2311800 * 0.02;
                    result += '<tr><td>医疗保险金</td><td>' + parseFloat(bx2 / 100).toFixed(2);
                    var qy2 = 2311800 * 0.10;
                    result += '</td><td>' + parseFloat(qy2 / 100).toFixed(2);
                    result += '</td></tr>';
                    var bx3 = 2311800 * 0.002;
                    result += '<tr style="background:#f1f1f1;"><td>失业保险金</td><td>' + parseFloat(bx3 / 100).toFixed(2);
                    var qy3 = 2311800 * 0.008;
                    result += '</td><td>' + parseFloat(qy3 / 100).toFixed(2);
                    result += '</td></tr>';
                } else {
                    bx1 = v * 0.08;
                    result += '<tr style="background:#f1f1f1;"><td>养老保险</td><td>' + parseFloat(bx1 / 100).toFixed(2);
                    qy1 = v * 0.19;
                    result += '</td><td>' + parseFloat(qy1 / 100).toFixed(2);
                    result += '</td></tr>';
                    bx2 = v * 0.02;
                    result += '<tr><td>医疗保险金</td><td>' + parseFloat(bx2 / 100).toFixed(2);
                    qy2 = v * 0.10;
                    result += '</td><td>' + parseFloat(qy2 / 100).toFixed(2);
                    result += '</td></tr>';
                    bx3 = v * 0.002;
                    result += '<tr style="background:#f1f1f1;"><td>失业保险金</td><td>' + parseFloat(bx3 / 100).toFixed(2);
                    qy3 = v * 0.008;
                    result += '</td><td>' + parseFloat(qy3 / 100).toFixed(2);
                    result += '</td></tr>';
                }
                var bx4 = (v * 0.12 > 277400 ? 277400 : v * 0.12);
                result += '<tr><td>住房公积金</td><td>' + parseFloat(bx4 / 100).toFixed(2);
                var qy4 = (v * 0.12 > 277400 ? 277400 : v * 0.12);
                result += '</td><td>' + parseFloat(qy4 / 100).toFixed(2);
                result += '</td></tr>';
                var bx5 = v * 1;
                result += '<tr  style="background:#f1f1f1;"><td>工伤保险金</td><td> 0 ';
                var qy5 = v * 0.004;
                result += '</td><td>' + parseFloat(qy5 / 100).toFixed(2);
                result += '</td></tr>';
                var bx6 = v * 1;
                result += '<tr><td>生育保险金</td><td> 0 ';
                var qy6 = v * 0.008;
                result += '</td><td>' + parseFloat(qy6 / 100).toFixed(2);
                result += '</td></tr>';
                var bx7 = bx1 + bx2 + bx3 + bx4;
                result += '<tr  style="background:#f1f1f1;"><td>总计</td><td style="font-weight:bold;">' + parseFloat(bx7 / 100).toFixed(2);
                var qy7 = qy1 + qy2 + qy3 + qy4 + qy5 + qy6;
                result += '</td><td style="font-weight:bold;">' + parseFloat(qy7 / 100).toFixed(2);
                result += '</td></tr>';
                var bx8 = v - bx7;
                result += '<tr><td>应税工资</td><td colspan="2">' + parseFloat(bx8 / 100).toFixed(2);
                result += '</td></tr>';
                var tax = GetTax(bx8 - 350000);
                result += '<tr  style="background:#f1f1f1;"><td>纳税额</td><td style="font-weight:bold;" colspan="2">' + parseFloat(tax / 100).toFixed(2);
                result += '</td></tr>';
                var salary = bx8 - tax;
                result += '<tr><td>税后工资</td><td style="font-weight:bold;color:#f00;" colspan="2">' + parseFloat(salary / 100).toFixed(2);
                result += '</td></tr>';
                var qyall = Math.floor((v + qy7) / 100);
                var jnall = Math.floor((bx7 + qy7) / 100);
                var lastsalary = Math.floor(salary / 100);
                var lastpercent = Math.floor(parseFloat(lastsalary / qyall) * 100);
                result += '<tr><td colspan="3"><div style="background:#f90;height:30px;"><div style="height:30px;background:#090;color:#fff;float:left;width:' + lastpercent + '%">工资 ' + lastsalary + ' 元</div><div style="color:#fff;float:right;margin-right:20px;">上缴 ' + jnall + ' 元</div></div></td></tr>';
                result += '</table>';
            }
            $("resultCon").innerHTML = result;
        }

        function GetTax(income) {
            var re = 0;
            if (income < 150000) re = income * 0.03; else if (income >= 150000 && income < 450000) re = income * 0.1 - 10500; else if (income >= 450000 && income < 900000) re = income * 0.2 - 55500; else if (income >= 900000 && income < 3500000) re = income * 0.25 - 100500; else if (income >= 3500000 && income < 5500000) re = income * 0.30 - 275500; else if (income >= 5500000 && income < 8000000) re = income * 0.35 - 550500; else if (income >= 8000000) re = income * 0.45 - 1350500;
            return re;
        }

    </script>

{% endblock %}


